%div#splash 
  %header
    %nav
      %ul
        %li
          %a(href="#") about
        %li
          %a(href="#") create
        %li
          %a(href="#") tournament
      %ul#right-nav
        %li
          %a(href="#") login
  %body
    %div#center-div
      %h1 ISOTOPE
      %p a simpler science olympiad tournament experience
      %a#call-to-action(href="#") create a tournament    